# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [2]:
numberFloat = 2.3

print(numberFloat)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [8]:
result = num2 - num1
print(result)

result -= 1
print(result)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [10]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [12]:
result_div = num2 / num1
print(result_div)

result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [15]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [17]:
result_mod = num2 % num1
print(result_mod)

result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [18]:
square = 5 ** 2
print(square)

25

### String Input-Output

##### String Assignment

In [19]:
name = "Jordan"
print(name) 22:50

Jordan

##### print() <br>
<p>Don't forget about end=' '</p>

In [21]:
print("This is my first name: ", name)
print("Full Name:", name, end=" Hartman")

This is my first name:  Jordan
Full Name: Jordan Hartman

##### String Concatenation

In [25]:
first_name = "Jordan"
last_name = "Hartman"

full_name = first_name + " " + last_name
print(full_name)

full_name += " Jr"
print(full_name)

Jordan Hartman
Jordan Hartman Jr

##### Type Conversion

In [27]:
number = "32"

change_type_num = int(number)

print(number)
print(change_type_num + 1)

32
33

##### input()

In [28]:
# input will always return a string

name = input("What is your name? ")

print(name)

KeyboardInterrupt: Interrupted by user

##### format()

In [29]:
age = input("What is your age? ")
result_string = "You are {} {} and you are getting wiser!" .format(age, name)
print(result_string)

What is your age? 33
You are 33 Jordan and you are getting wiser!

##### Old Way (python 2)

In [31]:
result_string2 = "You are %s and you look great" %age
print(result_string2)

You are 33 and you look great

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [33]:
color = input("What is the color? ")
make = input("What is the make? ")
year = input("What is the year? ")
model = input("What is the model? ")

print(color)
print(make)
print(year)
print(model)
print("You drive a " + year + " "+ color + " " + model + " " + make)

What is the color? Black
What is the make? Benz
What is the year? 2023
What is the model? Mercedes
Black
Benz
2023
Mercedes
You drive a 2023 Black Mercedes Benz

### If Statements

In [11]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 8
num2 = 7
num3 = 0

#if num1 == num2:
#    print("This is true")
#else:
#    print("That is False")
    
if num2 > num1 && num3 > 0:
    print("num2 is greater")
elif num1 > num2:
    print("num1 is greater")
else:
    print("Equal values")

num1 is greater

##### 'is' keyword

In [ ]:
# The "is" keyword is checking for the same object, but not the same value

num3 = 55

if num3 is 55:
    print("This is the exact number")

##### 'in' keyword

In [12]:
# Check if a character is in a string

char_name = "Yo"

if "Yo" in char_name:
    print("Yerr")

Yerr

##### 'not in' keyword'

In [13]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("a is not here")

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [16]:
my_variable = input("What do you want? ")

if "p" in my_variable:
    print("True")
else:
    print("False")

What do you want? yo
False

## Using 'and'/'or' with If Statements

In [18]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True")
    
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True
True and False

### Elif Statements

In [20]:
first_name = input("What is your name? ")

if first_name == "Smith":
    print("The name is Smith")
elif first_name == "Brandon":
    print("The name is Brandon")
elif first_name != "Max":
    print("The name is Not Max")
else:
    print("The name is Max")

What is your name? Brandon
The name is Brandon

### Else Statements

In [ ]:
# see above

### For Loops

In [21]:
# syntax:
# for counter in condition

name = "Jordan Hartman"

for letter in name:
    print(letter)

J
o
r
d
a
n

H
a
r
t
m
a
n

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [23]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [24]:
for i in range(20):
    if i == 5: 
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [25]:
for i in name:
    pass

##### Double For Loops

In [26]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [27]:
# syntax: 
# while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [28]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [29]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i))
        num += 1

While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [33]:
# range(start, stop, step)

for i in range(1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

##### len()

In [34]:
name = "Max"

length = len(name)
print(length)

3

##### help()

In [37]:
# Use this function to view more info about a python funtion

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [41]:
# Check a variable to find out what object family (or data type) it belongs to
# isinstance(var, type)

num = 4.5
if isinstance(num, int):
    print(f'{num} is an int')
else:
    print(f'{num} is a float')

4.5 is a float

##### abs()

In [42]:
# /-5/ = 5

print(abs(-5))

5

### Try and Except

In [47]:
# Use this to log out graceful and useful error messages
# Does not stop the program!

try:
    input_num = int(input("Guess a number"))
    print("Your number is: " + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a number5
Your number is: 5

### Lists

##### Declaring Lists

In [57]:
list_1 = []
names = ["Max", "Cindy", "Cathy", "Bob", "Nate"]

print(names)

['Max', 'Cindy', 'Cathy', 'Bob', 'Nate']

##### Indexing a List

In [56]:
# list_name[start: stop: step]

# Single Index
#print(names[])

# Print starting at index 1 going to the end
print(names[1:])

# Print starting at the beginning of a list up until a number
print(names[:2])

# Print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[::-1])

['Cindy', 'Cathy', 'Nate']
['Max', 'Cindy']
['Cindy', 'Nate']
['Nate', 'Cathy', 'Cindy', 'Max']

##### .append()

In [59]:
names.append("Jordan")
print(names)

['Max', 'Cindy', 'Cathy', 'Bob', 'Nate', 'Jordan', 'Jordan']

##### .insert()

In [61]:
names.insert(3, "Jay")
print(names)

['Max', 'Cindy', 'Cathy', 'Jay', 'Jay', 'Bob', 'Nate', 'Jordan', 'Jordan']

##### .pop()

In [64]:
# Defaults to the last values if no parameter is given
# Pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(names)
print(my_name)

['Max', 'Cindy', 'Bob', 'Nate', 'Jordan', 'Jordan']
Jay


##### .remove()

In [68]:
# Value to be removed rather than index
#names.remove[1]
#print(names)

# remove multiple jordans from list
while "Jordan" in names:
    names.remove("Jordan")
print(names)

['Max', 'Bob', 'Nate']

##### del()

In [71]:
# Goes by index, rather than value
# Be careful with del, it can cause indexing errors if not used carefully
del(names[1])
print(names)

['Max', 'Nate']

##### Concatenating Two Lists

In [74]:
# Will append two lists together, will Not add the values

list_2 = [0,1,2]
list_3 = [3,4,5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# List can hold any type of other element; including other lists
# They can go as deep as you want; this is called nested lists

names = ["Max", "sam", "Josh", ["Sally", "Sue", "Beyonce"]]
print(names[3][1])

##### Looping Through Lists

In [80]:
# Two ways to loop through a list: One is by index; the other is by using the "in" keyword

# By index
for i in range(len(names)):
    print(names[i])
    
# Loop with "in"
for i in names:
    print(i)

Max
sam
Josh
['Sally', 'Sue', 'Beyonce']
Max
sam
Josh
['Sally', 'Sue', 'Beyonce']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
for i in range(0, 1000, 3):
    if i > 1000:
        break
    print(i)

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range(2, 101):
    for j in range(2, 101):
        if i % j == 0:
            break
    if i == j:
        print(i)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input("How old are you? "))

if age < 18:
    print("Kids")
elif age > 18 and age < 65:
    print("adults")
elif age >= 66:
    print("seniors")